.select_category
{
	width: 85px;
	height: 196px;
	position: absolute;
	top: 75px;
	left: 20px;
}
#container>input[type="text"] {
	width: 133px;
}
.option_category
{
	font-family: 'arial';
}
.select_memory
{
	width: 250px;
	height: 196px;
	position: absolute;
	top: 75px;
	left: 120px;
}
.option_memory
{
	font-family: 'arial';
}
.select_data
{
	width: 125px;
	height: 196px;
	position: absolute;
	top: 75px;
	left: 780px;
}
.option_data
{
	font-family: 'arial';
}
#label_buttonfunction
{
	top: 288px;
	left: 578px;
}
.select_bf
{
	width: 325px;
	height: 196px;
	position: absolute;
	top: 288px;
	left: 680px;
}
.option_bf1
{
}
.option_bf2
{
	background:#333333;
}
#data_output
{
	position: absolute;
	top: 75px;
	left: 925px;
	font-family: "courier new";
	font-size: 14px;
	color: #EBEE80;
	width: 425px;
	height: 196px;
}
#data_output.expanded
{
	width: 465px;
	height: 598px;
}
#trigger_output
{
	width: 500px;
	height: 385px;
	position: absolute;
	top: 288px;
	left: 20px;
	font-family: "courier new";
	font-size: 14px;
	color: #EBEE80;
}
.labels
{
	font-family: "trebuchet ms";
	font-size: 16px;
	color: #9DFFFF;
	position: absolute;
}
#label_offset
{
	top: 75px;
	left: 387px;
}
#input_offset
{
	position: absolute;
	top: 75px;
	left: 460px;
}
#label_length
{
	top: 100px;
	left: 387px;
}
#input_length
{
	position: absolute;
	top: 100px;
	left: 460px;
}
#label_object
{
	top: 125px;
	left: 387px;
}
#input_object
{
	position: absolute;
	top: 125px;
	left: 460px;
}
#label_memory
{
	top: 165px;
	left: 387px;
}
#input_memory
{
	position: absolute;
	top: 165px;
	left: 460px;
}
#label_hex
{
	top: 190px;
	left: 387px;
}
#input_hex
{
	position: absolute;
	top: 190px;
	left: 460px;
}
#label_value
{
	top: 215px;
	left: 387px;
}
#input_value
{
	position: absolute;
	top: 215px;
	left: 460px;
}
#label_origvalue
{
	top: 240px;
	left: 387px;
}
#input_origvalue
{
	position: absolute;
	top: 240px;
	left: 460px;
}
#label_upg_player
{
	top: 100px;
	left: 628px;
}
#input_upg_player
{
	position: absolute;
	top: 100px;
	left: 702px;
	width: 30px;
}
#label_upg_uid
{
	top: 125px;
	left: 628px;
}
#input_upg_uid
{
	position: absolute;
	top: 125px;
	left: 702px;
	width: 30px;
}

/* Selection Group */

#label_selgroup_player
{
	top: 100px;
	left: 628px;
}
#input_selgroup_player
{
	position: absolute;
	top: 100px;
	left: 702px;
	width: 30px;
}
#label_selgroup_id
{
	top: 125px;
	left: 628px;
}
#input_selgroup_id
{
	position: absolute;
	top: 125px;
	left: 702px;
	width: 30px;
}
#label_selgroup_unit
{
	top: 150px;
	left: 628px;
}
#input_selgroup_unit
{
	position: absolute;
	top: 150px;
	left: 702px;
	width: 30px;
}



/* Selection Group */

#label_keygroup_player
{
	top: 75px;
	left: 628px;
}
#input_keygroup_player
{
	position: absolute;
	top: 75px;
	left: 712px;
	width: 30px;
}
#label_keygroup_hotkey
{
	top: 100px;
	left: 628px;
}
#input_keygroup_hotkey
{
	position: absolute;
	top: 100px;
	left: 712px;
	width: 30px;
}
#label_keygroup_id
{
	top: 125px;
	left: 628px;
}
#input_keygroup_id
{
	position: absolute;
	top: 125px;
	left: 712px;
	width: 30px;
}
#label_keygroup_unit
{
	top: 150px;
	left: 628px;
}
#input_keygroup_unit
{
	position: absolute;
	top: 150px;
	left: 712px;
	width: 30px;
}
#label_keygroup_index
{
	top: 175px;
	left: 628px;
}
#input_keygroup_index
{
	position: absolute;
	top: 175px;
	left: 712px;
	width: 30px;
}

/* Reqs */

#label_req
{
	top: 125px;
	left: 628px;
}
#input_req
{
	position: absolute;
	top: 125px;
	left: 695px;
	width: 35px;
}
#label_icecc
{
	top: 288px;
	left: 569px;
}
#label_icecc2
{
	top: 314px;
	left: 574px;
}
#inputarea_icecc
{
	position: absolute;
	top: 314px;
	left: 680px;
	width: 570px;
	height: 359px;
}
#input_icecc_trigbase
{
	position: absolute;
	top: 288px;
	left: 680px;
	width: 570px;
}
#parse_icecc
{
	position: absolute;
	top: 637px;
	left: 1260px;
	padding: 8px 10px 10px 10px;
}
#label_mapstr_sid
{
	top: 288px;
	left: 599px;
}
#label_mapstr_ofs
{
	top: 314px;
	left: 603px;
}
#label_mapstr_cont
{
	top: 340px;
	left: 603px;
}
#input_mapstr_sid
{
	position: absolute;
	top: 288px;
	left: 680px;
	width: 570px;
}
#input_mapstr_ofs
{
	position: absolute;
	top: 314px;
	left: 680px;
	width: 570px;
}
#inputarea_mapstr
{
	position: absolute;
	top: 340px;
	left: 680px;
	width: 570px;
	height: 373px;
}
#parse_mapstr
{
	position: absolute;
	top: 677px;
	left: 1260px;
	padding: 8px 10px 10px 10px;
}
#label_etg_base
{
	top: 288px;
	left: 575px;
}
#label_etg_ofs
{
	top: 314px;
	left: 619px;
}
#label_etg_cont
{
	top: 340px;
	left: 594px;
}
#input_etg_base
{
	position: absolute;
	top: 288px;
	left: 680px;
	width: 570px;
}
#input_etg_ofs
{
	position: absolute;
	top: 314px;
	left: 680px;
	width: 570px;
}
#inputarea_etg
{
	position: absolute;
	top: 340px;
	left: 680px;
	width: 570px;
	height: 333px;
}
#parse_etg
{
	position: absolute;
	top: 637px;
	left: 1260px;
	padding: 8px 10px 10px 10px;
}

/* TextStack */

#label_textstack_text
{
	top: 288px;
	left: 567px;
}
#input_textstack_text
{
	position: absolute;
	top: 288px;
	left: 680px;
	width: 570px;
}
#label_textstack_unit
{
	top: 314px;
	left: 588px;
}
#input_textstack_unit
{
	position: absolute;
	top: 314px;
	left: 680px;
	width: 570px;
}
#label_textstack_disp
{
	top: 340px;
	left: 575px;
}
#input_textstack_disp
{
	position: absolute;
	top: 340px;
	left: 680px;
	width: 570px;
}
#label_textstack_objs
{
	top: 366px;
	left: 584px;
}
#input_textstack_objs
{
	position: absolute;
	top: 366px;
	left: 680px;
	width: 570px;
}
#label_textstack_desc
{
	top: 392px;
	left: 581px;
}
#input_textstack_desc
{
	position: absolute;
	top: 392px;
	left: 680px;
	width: 570px;
}

/* TrigConv */

#label_trigconv_buttonoffset
{
	top: 288px;
	left: 567px;
}
#input_trigconv_buttonoffset
{
	position: absolute;
	top: 288px;
	left: 680px;
	width: 570px;
}
#label_trigconv_area
{
	top: 314px;
	left: 607px;
}
#inputarea_trigconv
{
	position: absolute;
	top: 314px;
	left: 680px;
	width: 570px;
	height: 359px;
}
#parse_trigconv
{
	position: absolute;
	top: 637px;
	left: 1260px;
	padding: 8px 10px 10px 10px;
}

/* TrigDupl */

#label_trigdupl_count
{
	top: 288px;
	left: 617px;
}
#label_trigdupl_area
{
	top: 314px;
	left: 607px;
}
#input_trigdupl_count
{
	position: absolute;
	top: 288px;
	left: 680px;
	width: 570px;
}
#inputarea_trigdupl
{
	position: absolute;
	top: 314px;
	left: 680px;
	width: 334px;
	height: 359px;
}
#inputarea_trigdupl_arrays
{
	position: absolute;
	top: 314px;
	left: 1020px;
	width: 230px;
	height: 359px;
}
#parse_trigdupl
{
	position: absolute;
	top: 637px;
	left: 1260px;
	padding: 8px 10px 10px 10px;
}

/* TrigSlice */

#label_trigslice_player
{
	top: 288px;
	left: 622px;
}
#label_trigslice_cond
{
	top: 314px;
	left: 592px;
}
#label_trigslice_act
{
	top: 434px;
	left: 615px;
}
#input_trigslice_player
{
	position: absolute;
	top: 288px;
	left: 680px;
	width: 570px;
}
#inputarea_trigslice_cond
{
	position: absolute;
	top: 314px;
	left: 680px;
	width: 570px;
	height: 110px;
}
#inputarea_trigslice_act
{
	position: absolute;
	top: 434px;
	left: 680px;
	width: 570px;
	height: 240px;
}
#parse_trigslice
{
	position: absolute;
	top: 637px;
	left: 1260px;
	padding: 8px 10px 10px 10px;
}

/* StatTxt */

#label_stattbl_player
{
	top: 288px;
	left: 587px;
}
#label_stattbl_cond
{
	top: 314px;
	left: 589px;
}
#input_stattbl_player
{
	position: absolute;
	top: 288px;
	left: 680px;
	width: 570px;
}
#inputarea_stattbl_cond
{
	position: absolute;
	top: 314px;
	left: 680px;
	width: 570px;
	height: 90px;
}
#parse_stattbl_cpt
{
	position: absolute;
	top: 367px;
	left: 1260px;
	padding: 8px 10px 10px 10px;
}
#hr_stattbl
{
	position: absolute;
	top: 414px;
	left: 680px;
	width: 570px;
}
#label_stattbl_offset
{
	top: 439px;
	left: 621px;
}
#label_stattbl_str1
{
	top: 465px;
	left: 615px;
}
#label_stattbl_str2
{
	top: 491px;
	left: 615px;
}
#label_stattbl_content1
{
	top: 517px;
	left: 600px;
}
#label_stattbl_content2
{
	top: 543px;
	left: 600px;
}
#input_stattbl_offset
{
	position: absolute;
	top: 439px;
	left: 680px;
	width: 570px;
}
#input_stattbl_str1
{
	position: absolute;
	top: 465px;
	left: 680px;
	width: 570px;
}
#input_stattbl_str2
{
	position: absolute;
	top: 491px;
	left: 680px;
	width: 570px;
}
#input_stattbl_content1
{
	position: absolute;
	top: 517px;
	left: 680px;
	width: 570px;
}
#input_stattbl_content2
{
	position: absolute;
	top: 543px;
	left: 680px;
	width: 570px;
}
#parse_stattbl
{
	position: absolute;
	top: 521px;
	left: 1260px;
	padding: 8px 10px 10px 10px;
}

/* Wireframes */

#label_wireframes_player
{
    top: 288px;
    left: 587px;
}
#label_wireframes_cond
{
    top: 314px;
    left: 589px;
}
#label_wireframes_type
{
	top: 288px;
	left: 626px;
}
#input_wireframes_player
{
    position: absolute;
    top: 288px;
    left: 680px;
    width: 445px;
}
#inputarea_wireframes_cond
{
    position: absolute;
    top: 314px;
    left: 680px;
    width: 570px;
    height: 90px;
}
#parse_wireframes_cpt
{
    position: absolute;
    top: 367px;
    left: 1260px;
    padding: 8px 10px 10px 10px;
}
#select_wireframes_type
{
	position: absolute;
	top: 288px;
	left: 1135px;
	width: 120px;
}
#hr_wireframes
{
    position: absolute;
    top: 414px;
    left: 680px;
    width: 570px;
}
#label_wireframes_uid
{
	top: 439px;
    left: 615px;
}
#label_wireframes_target
{
    top: 465px;
    left: 592px;
}
#input_wireframes_uid
{
    position: absolute;
    top: 439px;
    left: 680px;
    width: 570px;
}
#input_wireframes_target
{
    position: absolute;
    top: 465px;
    left: 680px;
    width: 570px;
}
#parse_wireframes
{
    position: absolute;
    top: 443px;
    left: 1260px;
    padding: 8px 10px 10px 10px;
}

/* ReqWrite */

#label_reqwrite_type
{
	top: 288px;
	left: 626px;
}
#label_reqwrite_uid
{
	position: absolute;
	top: 288px;
	left: 810px;
}
#label_reqwrite_offset
{
	position: absolute;
	top: 288px;
	left: 945px;
}
#label_reqwrite_add
{
	top: 314px;
	left: 599px;
}
#label_reqwrite_area
{
	top: 340px;
	left: 599px;
}
#input_reqwrite_uid
{
	position: absolute;
	top: 288px;
	left: 870px;
	width: 60px;
}
#input_reqwrite_offset
{
	position: absolute;
	top: 288px;
	left: 1035px;
	width: 215px;
}
#select_reqwrite_type
{
	position: absolute;
	top: 288px;
	left: 680px;
	width: 120px;
}
#select_reqwrite_add
{
	position: absolute;
	top: 314px;
	left: 680px;
	width: 570px;
}
#inputarea_reqwrite
{
	position: absolute;
	top: 340px;
	left: 680px;
	width: 570px;
	height: 333px;
}
#parse_reqwrite
{
	position: absolute;
	top: 637px;
	left: 1260px;
	padding: 8px 10px 10px 10px;
}

/* PlayerColor */

#label_playercolor_id
{
	top: 288px;
	left: 617px;
}
#label_playercolor_colors
{
	top: 314px;
	left: 617px;
}
#label_playercolor_colors2
{
	/*top: 522px;*/
	top: 340px;
	left: 602px;
}
#playercolor_imgcontainer
{
	position: absolute;
	top: 288px;
	left: 764px;
	width: 384px;
	height: 384px;
	overflow: hidden;
	border: solid 1px #666666;
	cursor: pointer;
	padding: none;
	line-height: 6.25%;
}
#playercolor_img
{
	display: none;
	position: absolute;
	top: -1px;
	left: -1px;
}
.playercolor_imgGrid
{
	width: 6.25%;
	height: 6.25%;
	display: inline-block;
	border: none;
}
#input_playercolor_id
{
	position: absolute;
	top: 288px;
	left: 680px;
	width: 64px;
}
.playercolor_i
{
	position: absolute;
	width: 34px;
	left: 680px;
}
.playercolor_d
{
	position: absolute;
	left: 722px;
	width: 22px;
	height: 22px;
	border: solid 1px #bbbbbb;
	background: #000000;
}
#input_playercolor1, #div_playercolor1 {top: 314px;}
/*
#input_playercolor2, #div_playercolor2 {top: 340px;}
#input_playercolor3, #div_playercolor3 {top: 366px;}
#input_playercolor4, #div_playercolor4 {top: 392px;}
#input_playercolor5, #div_playercolor5 {top: 418px;}
#input_playercolor6, #div_playercolor6 {top: 444px;}
#input_playercolor7, #div_playercolor7 {top: 470px;}
#input_playercolor8, #div_playercolor8 {top: 496px;}
#input_playercolor0, #div_playercolor0 {top: 522px;}*/
#input_playercolor0, #div_playercolor0 {top: 340px;}
#input_playercolor2, #div_playercolor2 {display: none;}
#input_playercolor3, #div_playercolor3 {display: none;}
#input_playercolor4, #div_playercolor4 {display: none;}
#input_playercolor5, #div_playercolor5 {display: none;}
#input_playercolor6, #div_playercolor6 {display: none;}
#input_playercolor7, #div_playercolor7 {display: none;}
#input_playercolor8, #div_playercolor8 {display: none;}
#input_playercolor0 {color: #B0EC75;}
.playercolor_select
{
	width: 88px;
	height: 196px;
	position: absolute;
	top: 288px;
	left: 1162px;
}
.playercolor_option
{
}
#playercolor_select_tileset
{
	width: 92px;
	height: 25px;
	position: absolute;
	top: 498px;
	left: 1162px;
}
#parse_playercolor
{
	position: absolute;
	top: 635px;
	left: 680px;
	padding: 8px 11px 10px 11px;
}

/* Plugins */

#plugin_area {
	position: absolute;
	top: 288px;
	left: 530px;
	display: block;
	width: 850px;
	height: 400px;
}

#upg_area {display: none;}
#selgroup_area {display: none;}
#keygroup_area {display: none;}
#req_area {display: none;}
#buttonfunction_area {display: none;}
#icecc_area {display: none;}
#mapstr_area {display: none;}
#etg_area {display: none;}
#textstack_area {display: none;}
#trigdupl_area {display: none;}
#trigslice_area {display: none;}
#trigconv_area {display: none;}
#reqwrite_area {display: none;}
#stattbl_area {display: none;}
#wireframes_area {display: none;}
#playercolor_area {display: none;}
#make_memory
{
	position: absolute;
	top: 123px;
	left: 600px;
	width: 20px;
	height: 20px;
	padding: 0;
	background: #666666;
	font-size: 12px;
	line-height: 20px;
}
#make_trigger
{
	position: absolute;
	top: 213px;
	left: 600px;
	width: 20px;
	height: 20px;
	padding: 0;
	background: #666666;
	font-size: 12px;
	line-height: 20px;
}
#expand_data_output
{
	position: absolute;
	top: 252px;
	left: 1360px;
	width: 20px;
	height: 20px;
	padding: 0;
	background: #666666;
	font-size: 12px;
	line-height: 20px;
}
#expand_data_output.expanded
{
	top: 654px;
	left: 1400px;
	width: 20px;
	height: 20px;
}
#saf_floating
{
	display: none;
	position: absolute;
	left: 265px;
	top: 242px;
	border: solid 2px #99d6ff;
	padding: 10px 12px 12px 5px;
	z-index: 2;
	background: #222222;
}
#saf_close
{
	display: block;
	text-align: right;
	position: absolute;
	top: 8px;
	right: 10px;
}
#saf_floating input
{
	border: none;
}
#saf_floating td
{
	font-family: "trebuchet ms";
	font-size:16px;
	color: #FFC48E;
	text-align: left;
}
#saf_text
{
	border:solid 1px #bbbbbb !important;
	margin-top:5px;
}
#saf_div1
{
	text-align:center;
	font-size:16px;
}
#saf_div2
{
	text-align:center;
	margin-top:11px;
}

#settings_floating
{
	display: none;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 142px;
	width: 600px;
	height: 400px;
	left: 0;
	right: 0;
	border: solid 2px #99d6ff;
	padding: 10px 12px 12px 5px;
	z-index: 2;
	background: #222222;
}
#settings_close
{
	display: block;
	text-align: right;
	position: absolute;
	top: 8px;
	right: 10px;
}
#settings_floating input
{
	border: none;
}
#settings_div1
{
	text-align:center;
	font-size:16px;
}

#title_text
{
	text-align:center;
}